[printer]
kinematics: corexy
max_velocity: 300
max_accel: 3000
max_z_velocity: 15
max_z_accel: 350
square_corner_velocity: 5.0

# Размеры сборки 500×500×480
# position_max — откалибруйте после первого homing при необходимости

[idle_timeout]
timeout: 1800

[virtual_sdcard]
path: ~/printer_data/gcodes
on_error_gcode: CANCEL_PRINT

[respond]

[pause_resume]

[display_status]

[exclude_object]
