#####################################################################
# Вентиляторы рамы (part cooling / hotend fan — на КАЖДОЙ голове, в Tx.cfg)
#####################################################################

[heater_fan controller_fan]
pin: PF6
kick_start_time: 0.5
heater: heater_bed
heater_temp: 45.0

[fan_generic exhaust_fan]
pin: PF8
max_power: 1.0
shutdown_speed: 0.0
kick_start_time: 5.0

[fan_generic nevermore]
pin: PA4
max_power: 1.0
shutdown_speed: 0.0
kick_start_time: 2.0

[output_pin caselight]
pin: PA3
pwm: true
shutdown_value: 0
value: 0
cycle_time: 0.01
