#####################################################################
# Нагрев стола — AC SSR (как на 1-м принтере)
# Тип термистора проверьте на кабеле кровати.
#####################################################################

[heater_bed]
heater_pin: PA1
sensor_type: Generic 3950
sensor_pin: PB1
max_power: 1.0
min_temp: 0
max_temp: 120
control: pid
pid_Kp: 58.437
pid_Ki: 2.347
pid_Kd: 363.769
# После сборки: PID_CALIBRATE HEATER=heater_bed TARGET=60
