#####################################################################
# XY — физические концевики (на РАМЕ, т.к. тулченджер — голова съёмная)
# X endstop → M8P M1-STOP (PF4) | Y endstop → M8P M2-STOP (PF3)
#####################################################################

[stepper_x]
step_pin: PE6
dir_pin: PE5
enable_pin: !PC14
microsteps: 16
rotation_distance: 40
full_steps_per_rotation: 200
endstop_pin: ^PF4
position_min: 0
position_endstop: 500
position_max: 500
homing_speed: 50
homing_retract_dist: 5
homing_positive_dir: true

[tmc2209 stepper_x]
uart_pin: PC13
interpolate: True
run_current: 0.9
sense_resistor: 0.110
stealthchop_threshold: 999999

[stepper_y]
step_pin: PE2
dir_pin: PE1
enable_pin: !PE4
microsteps: 16
rotation_distance: 40
full_steps_per_rotation: 200
endstop_pin: ^PF3
position_min: 0
position_endstop: 500
position_max: 500
homing_speed: 50
homing_retract_dist: 5
homing_positive_dir: true

[tmc2209 stepper_y]
uart_pin: PE3
interpolate: True
run_current: 0.9
sense_resistor: 0.110
stealthchop_threshold: 999999
