#####################################################################
# MCU — Manta M8P v2.0 (CAN bridge @ 1000000)
# Головы (EBBT0..EBBT5) объявляются в toolchanger/tools/Tx.cfg
#
# UUID всех узлов: sudo systemctl stop klipper
#                  python3 ~/katapult/scripts/flash_can.py -q
#####################################################################

[mcu]
canbus_uuid: REPLACE_WITH_M8P_UUID
canbus_interface: can0

[temperature_sensor M8P]
sensor_type: temperature_mcu

[temperature_sensor CB2]
sensor_type: temperature_host

[board_pins]
aliases:
    EXP1_1=PE7, EXP1_2=PG1,
    EXP1_3=PG0, EXP1_4=PF15,
    EXP1_5=PF14, EXP1_6=PF13,
    EXP1_7=PF12, EXP1_8=PF11,
    EXP1_9=, EXP1_10=<5V>,
    EXP2_1=PE13, EXP2_2=PE12,
    EXP2_3=PE15, EXP2_4=PE11,
    EXP2_5=PE10, EXP2_6=PE14,
    EXP2_7=PE8, EXP2_8=,
    EXP2_9=, EXP2_10=<GND>
