[printer]
kinematics: corexy
max_velocity: 400
max_accel: 4000
max_z_velocity: 15
max_z_accel: 350
square_corner_velocity: 5.0

# Размер сборки 500×500×480

[virtual_sdcard]
path: ~/printer_data/gcodes
on_error_gcode: CANCEL_PRINT

[respond]
[pause_resume]
[display_status]
[exclude_object]

[idle_timeout]
timeout: 1800
