#####################################################################
# 4× Z — Voron 2.4 quad gantry (FLY-D8)
# Z homing через Voron Tap (probe:z_virtual_endstop) — см. probes/tap.cfg
# Слоты: Z=DRIVER2, Z1=DRIVER3, Z2=DRIVER4, Z3=DRIVER5
#####################################################################

[stepper_z]
step_pin: PE3
dir_pin: !PD1
enable_pin: !PD2
rotation_distance: 40
gear_ratio: 80:16
microsteps: 16
endstop_pin: probe:z_virtual_endstop
position_min: -5
position_max: 480
homing_speed: 8
second_homing_speed: 3
homing_retract_dist: 0

[tmc2209 stepper_z]
uart_pin: PD0
interpolate: true
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0

[stepper_z1]
step_pin: PE2
dir_pin: PD4
enable_pin: !PD5
rotation_distance: 40
gear_ratio: 80:16
microsteps: 16

[tmc2209 stepper_z1]
uart_pin: PD3
interpolate: true
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0

[stepper_z2]
step_pin: PE1
dir_pin: !PD7
enable_pin: !PB6
rotation_distance: 40
gear_ratio: 80:16
microsteps: 16

[tmc2209 stepper_z2]
uart_pin: PD6
interpolate: true
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0

[stepper_z3]
step_pin: PE0
dir_pin: PC13
enable_pin: !PC14
rotation_distance: 40
gear_ratio: 80:16
microsteps: 16

[tmc2209 stepper_z3]
uart_pin: PB7
interpolate: true
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0
