#####################################################################
# Input Shaper — ADXL345 на EBB SB2209 (когда Cartographer отключён)
#####################################################################

[adxl345]
cs_pin: EBBCan:gpio1
spi_software_sclk_pin: EBBCan:gpio2
spi_software_mosi_pin: EBBCan:gpio0
spi_software_miso_pin: EBBCan:gpio3
axes_map: z,-y,x

[resonance_tester]
accel_chip: adxl345
probe_points:
    250, 250, 20
    250, 100, 20
    250, 400, 20

# Калибровка: SHAPER_CALIBRATE → SAVE_CONFIG (создаст секцию [input_shaper])
